*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media  (min-width:1024px) and (max-width :1224px){
#header{
    background-image: url("../assest/img/bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.clear{
    clear: both;
}
.gear-card{
    width: 50% !important;
}
.small-gear{
}
.mt4px{
    margin-top: -5px;
}

.gear-title{
    background-color:#252525;
    color: #fff;
}
.guiter{
    background-color: #EAEAEA;
}

#navbar{
    padding-top: 72px;
    display: flex;
    justify-content: space-between;
    padding-left: 88px;
}
.nav-left i,h1{
    display: inline-block;
}
.nav-left .icon-volume{
    font-size: 32px;
    color: #fff;
    
}
.nav-left h1{
    color: #fff;
    margin-left: 10px;
    font-weight: 500;
}
span{
    font-weight: 700;
}
#nav-list li{
    display: block;
}
#nav-list{
padding-top: 14px;
margin-right: 264px;
}
#nav-list a{
    padding-right: 56px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}
#nav-logo{
    padding-top: 14px;
    display: none;
    color: #fff;
    margin-right: 120px;
    font-size: 24px;
}
.logo-cart{
    margin-right: 24px;
    display: none;
}
#content-header{
margin-top: 190px;
margin-left: 88px;
}
.content-text{
    font-family: Work Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    color: #fff;
    letter-spacing: 0.02em;
    text-align: left;
}
#guitar-lesson{
    margin-top: 180px;
    text-align: center;
}
.red-line{
height: 3px ;
width: 80px;
margin: auto;
background-color: rgba(171, 4, 51, 1);
margin-top: 88px;
margin-bottom: 8px;
}
.NewProducts-title{
    color:  #505050;
text-align: center;
font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 14px;
}
.NewProducts-card{
  width: 1424px;
  display: flex;
max-width: 100%;
margin-bottom: 88px;
margin-top: 34px;
    
}
.big-card{
    width: 33.33%;
    float: left;
}

.card-left{
    margin-left: 88px;
}
.card-center{
    margin-left: 32px;
    margin-right: 32px;
}
.card-right{

}
.small-card{
    background: radial-gradient(98.56% 98.92% at 1.22% 1.08%, #FBFBFB 0%, #D3D3D3 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
border-radius: 4px;
}
.white-bg-card{
    background-color: #FFF;

}
.info-card{
    border:none;
border-radius:4px;
    padding: 0px 24px 0px 24px;
box-shadow: 0px  2px 2px 0px #eae6e6;
}
.title-info-card{
    display: flex;
    padding-top: 16px;
    justify-content: space-between;
}
h6{
    font-size: 18px;
    font-weight: 600;
    color:#252525;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}
.price-card{
    color:#252525;
font-size: 18px;
font-weight: 600;
line-height: 23px;
}
.card-des{
    padding-top: 8px;
    color: #767676;
font-size: 16px;
line-height: 21px;
}
.value-card{
    margin-top: 20px;
    margin-bottom: 26px;
    display: inline-block;
    border-radius: 12px;
    border: 1px solid #ccc;
}
.value-text{
margin: 0px 5px;
font-size: 12px;
font-weight: 400;
line-height: 18px;
}
.popular-finds{
    background-color: #ececec;
    border: 1px solid #ececec ;
}
.small-prodcuts{
    background-color: #fff !important;
    text-align: center;
}
.mt42{
    margin-top: 42px;
}
.mb32{
    margin-bottom: 32px;
}
.mt9px{
    margin-top: 9px;
}
.title-footer{
    margin-top: 4px;
    padding-bottom: 32px;
}
#footer{
    margin-top: 91px;
    background-color: #505050;
    height: 290px;
}
.footer-content{
}
.list-footer{
    float: left;
    margin-left: 100px;
}
.list-account li{
    list-style-type: none;
}
.list-account li a{
    font-weight: 400;
    color: #fff;
    font-size: 14px;
}
.line-footer{
    padding-bottom: 9px;
    height: 5px ;
    width: 59px;
    padding-top: 69px;
color: #fff;
}
.list2-footer{
    margin-left: 270px;  
}
.list-store li{
    list-style-type: none;
}
.right-footer{
    
}